<%- include ("./partials/header") -%>

<div class="container loginWidth">
	<h1 class="justify-content-center mt-5">Login</h1>
	<form action="/login" method="POST">
  <div class="form-group mb-3">
    <label for="loginEmailInput">Username</label>
    <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" type="text" name="username" placeholder="Username">
    <small id="emailHelp" class="form-text text-muted">We'll never share your username with anyone else.</small>
  </div>
  <div class="form-group mb-3">
    <label for="eloginPasswordInput">Password</label>
    <input class="form-control" id="exampleInputPassword1" type="password" name="password" placeholder="password">
  </div>
  <button type="submit" value="Login" class="btn btn-info btn-lg mb-3">Login</button>
</form>
<p>Need an account? <a href="/register">Sign Up</a></p>
</div>

<%- include ("./partials/footer") -%>