<%- include ("./partials/header") -%>

<div class="container loginWidth">
	<h1 class="justify-content-center mt-5">Register</h1>
	
	<form action="/register" method="POST">
		<div class="form-group">
			<label for="loginEmailInput">Username</label>
			<input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" type="text" name="username" placeholder="Username">
			<small id="emailHelp" class="form-text text-muted">We'll never share your username with anyone else.</small>
		</div>

	  	<div class="form-group">
			<label for="eloginPasswordInput">Password</label>
			<input class="form-control" id="exampleInputPassword1" type="password" name="password" placeholder="password">
	  	</div>
		
		<div class="form-group">
			<label for="loginAdminInput">Administrator</label>
			<input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" type="text" name="adminCode" placeholder="Admin Code">
	  	</div>
		
	  	<button class="btn btn-info btn-lg btn-block">register</button>
	</form>
	
	<p> Already registered? <a href="/login">login</a></p>
</div>

<%- include ("./partials/footer") -%>